body {
    font-family: 'Baloo Chettan 2', Verdana;
    margin: 0;
    color: #323332;
}
.pointer {
    cursor: pointer;
}

.caption {
    padding: 10px 20px;
    font-size: 20px;
}
.caption span {
    color: #80483e;
    font-weight: 600;
    font-size: 24px;
    margin-left: 10px;
}

.header {
    background-color: #222222;
    color: white;
    padding: 10px 20px 20px 20px;
    position: relative;
}

.header .subtitle{
    position: absolute;
    top: 41px;
    left: 78px;
    letter-spacing: 2.5px;
}

.header .title{
    font-size: 30px;
    display: flex;
    color: #e3735d;
}
.content-title {
    font-size: 24px;
    cursor: pointer;
}

.content-title:hover {
    color: #222222;
}

.top {
    box-shadow: 0 0 29px 0 rgba(134,134,134,.25);
}
.logo {
    display: flex;
    padding-right: 5px;
    position: relative;
    top: 5px;
}

.sections {
    padding: 20px;
}

.subject {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 400px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 15px;
    border-left: 5px solid
}

.react .box {
    border-left-color: blue;
}

.git .box {
    border-left-color: #EDAB9F;
}

.others .box {
    border-left-color: #9DC3E6;
}

.js .box {
    border-left-color: #F48F58;
}

.box-title {
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.box-link {
    display: flex;
    flex-direction: row-reverse;
    font-size: 12px;
    padding-top: 10px;
}

.loading {
    display: flex;
    justify-content: center;
}

.hide-loading .loading{
    display: none;
}

.hide-loading .loading{
    display: none;
}

.section-title {
    display: none;
    font-size: 18px;
    font-weight: 600;
    color: grey;
}

.hide-loading .section-title {
    display: block;
}

/* LIBRARY */
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #e3735d;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
}  
